.chart {
    background-color: cornflowerblue;
    position: relative;
    border: 2px solid rgb(116, 127, 138);
    height: 100%;
    min-width: 5px;
    margin: 0px;
}
:host {
    padding: 0px;
    margin: 0px;
}