<div [popper]="chrt"
[popperTrigger]="'hover'"
[popperHideOnClickOutside]="true"
[popperHideOnScroll]="true"
[popperPlacement]="'bottom'"
[ngStyle]="{'left': left + 'px', 'width': length + 'px'}"
[popperStyles]="{'background-color': '#FFC107', 'z-index': '4'}"
class='chart'></div>
<popper-content #chrt [hidden]="project===null">
    <p><b>{{project.start | date:'dd.MM.yyyy'}} - {{project.end | date:'dd.MM.yyyy'}}</b></p>
</popper-content>