<div class="container">
  <table class="table table">
    <thead class="thead-dark">
      <tr>
        <th class="text-center">Id</th>
        <th class="text-center">Название</th>
        <th class="text-center">Начало</th>
        <th class="text-center">Конец</th>
        <th style="padding: 0px;margin: 0px;">
          <div style="display: flex;">
            <div style="width: 100%;height: 100%;" *ngFor="let y of getYears(projects)">
              <div style="width: 100%;height: 100%;" class="text-center">{{y}}</div>
              <div style="display: flex">
                <div class="text-center quart" *ngFor="let q of getQuarts()">
                  {{q}}
                </div>
              </div>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of projects" [hidden]="!(p.parentId === null || getProjectById(p.parentId).show === true)">
        <td>{{p.id}}</td>
        <td>
          <app-project-name [project]="p" (addProject)="open($event,'add')" (removeProject)="open($event,'remove')"></app-project-name>
        </td>
        <td>{{p.start | date:'dd.MM.yyyy'}}</td>
        <td>{{p.end | date:'dd.MM.yyyy'}}</td>
        <td style="width: 100%;padding: 0px 0px;">
          <app-chart style="display: block;height: 30px;" [project]="p" [years]="getYears(projects)">
          </app-chart>
        </td>
      </tr>
    </tbody>
  </table>
</div>