<div class="cell" (mouseenter)="show = true" (mouseleave)="show = false">
  <span [innerHTML]="offset"></span>
  <fa-icon [icon]="setIcon(project)" (click)="onIconClick()"></fa-icon>
  <span> {{project.project}}</span>
  <fa-icon [icon]="addNewIcon" (click)="addProject.emit(project)" [ngStyle]="{'visibility':show ? 'visible' : 'hidden'}"
    style="margin-left: 5px;">
  </fa-icon>
  <fa-icon [icon]="cancelIcon" (click)="removeProject.emit(project)" [ngStyle]="{'visibility':show ? 'visible' : 'hidden'}"
    style="margin-left: 5px;">
  </fa-icon>
</div>