<div class="modal-header" style="width:100%">
  <h4 class="modal-title" id="modal-basic-title">Удалить задачу</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="confirm()" autofocus>Подтвердить</button>
</div>