<div class="modal-header" style="width:100%">
  <h4 class="modal-title" id="modal-basic-title">Добавить дочерную задачу</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group row">
    <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="Название проекта" (keyup)="onKey(nameproject.value)" #nameproject autofocus>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <div class="input-group">
        <input class="form-control" placeholder="дд.мм.гггг - дата начала" name="dp" ngbDatepicker #d1="ngbDatepicker" [(ngModel)]="start">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button"><fa-icon [icon]="faCalendar"></fa-icon></button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <div class="input-group">
        <input class="form-control" placeholder="дд.мм.гггг - дата завершения" name="dp" ngbDatepicker #d2="ngbDatepicker" [(ngModel)]="end">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button"><fa-icon [icon]="faCalendar"></fa-icon></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="save()" [disabled]='buttonDisabled'>Добавить</button>
</div>