body {
    white-space: nowrap;
}
.quart {
    width: 100%;
    height: 100%;
    min-width: 30px;
}
.nopad {
    padding: 0px!important;
    height: 100%;
}
.cell {
    height: 100%;
    padding: 10px 10px;
}
tbody > tr:nth-child(1) > app-project-name .cell {
    border-top: none;
}
.container {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    max-width: 100%;
    padding: 0px;
}
th, td {
    vertical-align: middle!important;
    padding: 10px!important;
    white-space: nowrap;
}